<!doctype html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
{{#each stylesheets}}
<link rel="stylesheet" href="{{this}}" type="text/css" media="screen, projection" />
{{/each}}
<script>
window.settings = {};
window.settings.user = {};
window.settings.user.id = "{{user._id}}";
</script>
</head>
<body>
<div id="container">