<!--<a class="badge" href="">
  <img alt="Get it on App Store" src="/static/images/Download_on_the_App_Store_Badge_US-UK_135x40_0824.png" />
</a>
<br>
<a class="badge" href="https://play.google.com/store/search?q=pub:eduárd">
  <img alt="Get it on Google Play" src="/static/images/en_generic_rgb_wo_60.png" />
</a>-->
<div id="container">
  <!--<ol>
    <li><a href="/contacts/53b12110f91a96cfe0f2d1b9.vcf">Peter Stojcsics</a></li>
    <li><a href="/contacts/53b142e43144ab00007b7b6b.vcf">Eduárd</a></li>
  </ol>-->
</div>