<div class="container">
  <form class="login" action="/_login/" method="post">
    <label>Email:</label>
    <input type="text" name="email" placeholder="Email" />
    <label>Password:</label>
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Log In"/>
  </form>
</div>